
{% load static %}

{% block scripts %}
<head>
    <title>Home Page</title>
</head>
{% endblock scripts %}

{% block content %}
    
        
            <div id="loadingDiv">
                <p id="loadingText" class="font-weight-light">LOADING</p>
                <span class="loader"></span>
            </div>
            <canvas id="renderCanvas"></canvas>
        
    
    <script>
        
    

    var socket = new WebSocket("ws://" + window.location.host + "/ws/pirate/");
    socket.onopen = function(e) {
        console.log("Successfully connected to the WebSocket.");
        socket.send(JSON.stringify({text:text }));
        console.log("Message sent.");
    }

    socket.onmessage = function(e) {
        console.log("Received message: " + e.context);
        var data = JSON.parse(e.data);
        var output = data.output;
        var lip_sync_path = data.lip_sync_path;
        var audio_path = data.audio_path;
        console.log(output);
        console.log(lip_sync_path);
        console.log(audio_path);
        
        document.getElementById("summary-text").innerHTML = summary;
        document.getElementById("summary-image").src = image;
        document.getElementById("summary-audio").src = audio;
    }
</script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.121.1/build/three.min.js"></script>
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="{% static 'js/bundle.js' %}" defer> </script>
    
{% endblock %}
