{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
</head>
<body>
</body>
<script>
    var socket = new WebSocket("ws://" + window.location.host + "/ws/summary/");
    socket.onopen = function(e) {
        console.log("Successfully connected to the WebSocket.");
        var file = "{{ file }}";
        socket.send(JSON.stringify({file: file}));
    }

    socket.onmessage = function(e) {
        console.log("Received message: " + e.data);
        var data = JSON.parse(e.data);
        var summary = data.summary;
        var image = data.image;
        var audio = data.audio;
        console.log(summary);
        console.log(image);
        console.log(audio);
    }
</script>
</html>